{% extends 'layout.twig' %}

{% block title %}{{ __('errors.page_not_found') }} | {{ __('site.name') }}{% endblock %}

{% block content %}
<section class="cc-error-shell">
    <div class="container">
        <div class="cc-error-card">
            <span class="cc-error-code">{{ __('errors.error_404') }}</span>
            <h1 class="cc-error-title">{{ __('errors.page_not_found') }}</h1>
            <p class="cc-error-copy">{{ __('errors.page_not_found_message') }}</p>

            <div class="cc-error-actions">
                <a href="{{ basePath }}/" class="btn cc-btn-primary px-4">
                    {{ __('errors.go_home') }}
                </a>
                <a href="{{ basePath }}/about" class="btn-cc-outline">
                    {{ __('nav.about') }}
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
