<footer class="cc-footer-shell">
    <div class="container cc-footer-inner">
        <div class="cc-footer-branding">
            <a href="{{ basePath }}/" class="cc-footer-brand">
                <span class="cc-brand-mark cc-brand-mark-sm">CC</span>
                <span class="cc-footer-brand-text">{{ __('site.name') }}</span>
            </a>
            <p class="cc-footer-copy mb-0">{{ __('site.copyright', {'year': "now"|date("Y")}) }}</p>
        </div>

        <div class="cc-footer-links">
            <a href="{{ basePath }}/">{{ __('nav.home') }}</a>
            <a href="{{ basePath }}/about">{{ __('nav.about') }}</a>
            <a href="{{ basePath }}/cart">{{ __('nav.cart') }}</a>
        </div>
    </div>
</footer>
